.form-container {
    width: 60vh;
    height: 58vh;
    background-color: rgba(0, 0, 0, 0.8); /* Similar al color #000000CC */
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
}

.form-header {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-actions {
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-bottom {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login-button {
    width: 80%;
    height: 75%;
    background-color: #fecaca; /* Similar al bg-red-200 de Tailwind */
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-label {
    padding: 0.5rem;
    color: #f87171; /* Similar al text-red-400 de Tailwind */
}
